{% extends "products/base.html" %}
{% load static %}

{% block head_title %}Store - Заказы{% endblock %}

{% block css %}
  <link href="{% static 'vendor/css/orders.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<section style="padding-top: 80px;">
    <div class="container pt-5">
        <div class="text-center mt-5">
            <h1>Заказы</h1>
            <div class="orders mt-5">
                {% if orders %}
                <table class="table">
                    <thead>
                    <tr class="table-light">
                        <th scope="col">#</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Создан</th>
                        <th scope="col">Итого</th>
                        <th scope="col">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr
                      {% if order.status == order.DELIVERED %}class="table-success"
                      {% elif order.status == order.ON_WAY %}class="table-info"
                      {% elif order.status == order.PAID %}class="table-light"
                      {% endif %}
                    >
                        <th scope="row">{{ order.pk }}</th>
                        <td>{{ order.get_status_display }}</td>
                        <td>{{ order.created|date:"d.m.Y H:i" }}</td>
                        <td>{{ order.total_sum|floatformat:2 }} руб.</td>
                        <td>
                            <a href="{% url 'orders:order-detail' order.pk %}">просмотреть</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="text-muted mt-4">У вас пока нет заказов.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
